/* carrot2.css */
#carrot2Frame {
    display: none; /* Hide the iframe by default */
    position: fixed; /* Fixed position to cover the entire screen */
    top: 0;
    left: 0;
    width: 100vw; /* 100% of the viewport's width */
    height: 100vh; /* 100% of the viewport's height */
    border: none; /* No border for the iframe */
    z-index: 1000; /* Make sure the iframe is above other content */
}